<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <meta http-equive="X-UA-Compatible" content="ie=edge" />
    <title> Document</title>
</head>

<body>

    <a href="/users/logout">Logout</a>
    <h1>Hello <%= user %>
    </h1>
    <form action="/users/dashboard" method="POST">
        <div>
            <input type="text" id="notification" name="notification" placeholder="enter your notification" required>
        </div>
        <div>
            <input type="date" id="date" name="date" placeholder="enter date" required>
        </div>
        <div>
            <input type="time" id="time" name="time" placeholder="enter time" required>
        </div>
        <div>
            <input type="submit" value="Add notification">
        </div>
    </form>
    <button onclick="play()">Play Audio</button>
    <script>
        function play() {
            var audio = new Audio('https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3');
            audio.play();
        }
    </script>
    <ul>
        <% if (typeof dataList !='undefined' ) { %>
            <% let i=1%>
                <% dataList.forEach(data=> { %>
                    <li id=<%=i %> class="item">
                        <%= data.text %> until
                            <%= data.to_char %>
                                <%= data.time %>
                                    <%i++; %>
                                        <button onclick="
                        this.parentElement.style.display = 'none';
                        console.log(this.parentElement.id);
                        ">close</button>
                    </li>
                    <% }) %>
                        <% } %>
    </ul>
</body>

</html>